<div class="notifications" ng-controller="NotificationsController">
	<div class="success-message animate-show fade-out bg-success text-success" ng-show="showSubmitSuccessMessage">Your response has been submitted!</div>
	<div class="success-message animate-show fade-out bg-success text-success" ng-show="showUpdateSuccessMessage">The response has been updated!</div>
	<div class="error-message animate-show fade-out bg-error text-error" ng-show="showErrorMessage">There was a problem contacting the server. Please try again later.</div>
	<div class="success-message animate-show fade-out bg-success text-success" ng-show="showDeleteSuccessMessage">The response has been deleted!</div>
</div>
</div>
<div class="container header">
	<div class="row">
		<div class="col-md-12">
			<h1>Contact Form</h1>
		</div>
	</div>
</div>